html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  background: url(assets/images/fon.jpg) no-repeat fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}
@media screen and (max-width: 1024px) {
  /* start of large tablet styles*/
}
