nav {
  position: relative;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
nav .Link{
  margin-right: 1rem;
  margin-bottom: 0.1rem;
  padding: 0.1rem 0.5rem;
  color: #000038;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}
nav .Link:hover{
  border-radius: 5px;
  box-shadow: 1px 2px 1px #000038;
}

@media screen and (max-width: 946px) {
  /* start of large tablet styles */

}
