.App-footer {
  min-height: 5rem;
  position: sticky;
  bottom: -10rem;
  background-color: rgba(52, 74, 97, 0.5);
  color: #000038;
  font-family: 'Oswald', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.2;
  box-shadow: -2px -2px 4px rgba(27, 39, 51, 0.6);
  margin-top: 0.3rem;
}
.Footer-left {
  padding: 1.2rem 0;
  padding-left: 2rem;
}
.Footer-nav {
  padding: 1rem;
  padding-right: 0;
}
.Footer-nav .Link {
  font-size: 0.9rem;
  font-weight: 700;
  color: #000038;
}
.Footer-right{
  padding: 1.2rem;
  padding-right: 0;
}
.Footer-right strong{
  padding-left: 0.8rem;
  font-size: 0.9rem;
}
.Footer-right a {
  color: #000038;
  padding-left: 0.6rem;
}

@media screen and (max-width: 750px) {
  .Footer-nav .Link {
    font-size: 0.8rem;
  }
  .Footer-right {
    font-size: 0.7rem;
  }
  .Footer-right strong{
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 599px) {
  .App-footer {
    font-size: 0.6rem;
  }
  .Footer-left {
    padding-left: 1.5rem;
  }
  .Footer-nav .Link {
    font-size: 0.7rem;
  }
  .Footer-right {
    padding: 0 1.5rem 1rem;
  }
  .Footer-right strong{
    font-size: 0.7rem;
  }
}
