.App-header {
  /*position: sticky;
  top: 0;*/
  background-color: rgba(52, 74, 97, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000038;
  line-height: 1.2;
  box-shadow: 2px 2px 4px rgba(27, 39, 51, 0.6);
}
.Logo {
  position: fixed;
  top: 0;
  z-index: 10;
  background-image: url(../assets/images/logo.jpg);
  background-position: top right;
  background-color: #7c8cad;
  background-size: cover;
  min-width: 9.6rem;
  max-height: 6.9rem;
  border-radius: 50%;
  margin-top: 0.6rem;
  margin-bottom: -1rem;
  margin-left: -2.5rem;
  padding: 1.8rem 0;
  color: #fc0;
  box-shadow: 5px 5px 8px rgb(35, 42, 51);
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 2px 2px 1px #000;
  display: flex;
  flex-direction: column;
}
.Logo span:first-child {
  margin-left: -2.2rem;
}
.Logo span:last-child {
  margin-right: -7.7rem;
  margin-top: -1.2rem;
}
.Header-title {
  display: flex;
  justify-content: space-around;
}
.Header-center {
  margin: 0.5rem auto 0.2rem;
  padding-left: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.Header-center span:nth-child(1){
  font-size: 1.1rem;
  text-shadow: 1px 1px 1px #d0d0d0;
}
.Header-center span:nth-child(2){
  font-size: 1.6rem;
  text-shadow: 2px 2px 1px #fc0;
}
.Header-phone {
  display: flex;
  align-items: flex-end;
  margin-left: -8rem;
  margin-right: 0.8rem;
  margin-bottom: 0.2rem;
}
.Header-phone strong {
  text-shadow: 2px 2px 2px rgba(27, 39, 51, 0.5);
  font-size: 0.8rem;
}
.Header-right {
  margin: 0.5rem 0;
  display: flex;
  align-items: flex-start;
}
.Header-right img {
  margin-right: -1.4rem;
}
nav {
  position: relative;
  z-index: 9;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 0.2rem;
  margin-top: 0.2rem;
  box-shadow: 2px -2px 4px rgba(27, 39, 51, 0.4);
  border-top-right-radius: 0.2rem;
}
nav .Link{
  margin-left: 1rem;
  padding: 0 0.5rem;
  color: #000038;
  font-size: 0.95rem;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 0.3rem;
}
nav .Link:hover{
  border-radius: 5px;
  box-shadow: 1px 2px 1px #000038;
}

@media screen and (max-width: 1024px) {
  /* start of large tablet styles*/

}

@media screen and (max-width: 767px) {
  /* start of medium tablet styles */
  .Logo {
    min-width: 9rem;
    font-size: 1.2rem;
  }
  .Logo span:first-child {
    margin-left: -2.4rem;
  }
  .Logo span:last-child {
    margin-right: -5.2rem;
    margin-top: -0.8rem;
  }
}
