.App-header {
  /*background-color: rgba(220, 220, 220, 0.95);*/
  height: 9vh;
  background-color: rgba(160, 170, 190, 0.95);
  position: sticky;
  top: 0;
  z-index: 10;
  color: #000038;
  line-height: 1.2;
  box-shadow: 2px 2px 4px rgba(27, 39, 51, 0.6);
}
.Logo {
  position: absolute;
  top: 0;
  z-index: 1500;
  background-image: url(../assets/images/logo.jpg);
  background-position: top right;
  background-color: #7c8cad;
  background-size: cover;
  min-width: 9.6rem;
  max-height: 6.9rem;
  border-radius: 50%;
  margin-top: 0.6rem;
  margin-bottom: -1rem;
  margin-left: -2.5rem;
  padding: 1.8rem 0;
  color: #fc0;
  box-shadow: 5px 5px 8px rgb(35, 42, 51);
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 2px 2px 1px #000;
  display: flex;
  flex-direction: column;
}
.Logo span:first-child {
  margin-left: -2.2rem;
}
.Logo span:last-child {
  margin-right: -7.7rem;
  margin-top: -1.2rem;
}
.Header-title {
  display: flex;
  justify-content: space-around;
}
.Header-right {
  margin: 0.5rem 0;
  display: flex;
  align-items: flex-start;
}
.Header-right img {
  margin-right: -1.4rem;
}
nav {
  position: relative;
  z-index: 9;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0.5rem;
}
nav .Link{
  margin-right: 1rem;
  padding: 0.5rem 0.8rem;
  color: #000038;
  font-size: 0.85rem;
  /*font-family: 'Oswald', sans-serif;*/
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0px 0px 1px rgba(0, 0, 56, 0.7);
}
nav .Link:hover{
  border-radius: 5px;
  box-shadow: 1px 2px 1px #000038;
}

@media screen and (max-width: 1280px) {
  .Logo {
    margin-left: -1rem;
  }
}
@media screen and (max-width: 1024px) {
  .Logo {
    margin-left: -1.5rem;
  }
}
@media screen and (max-width: 960px) {
  .Logo {
    margin-left: 0.8rem;
  }
  .Header-right {
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 820px) {
  .Logo {
    min-width: 8.6rem;
    font-size: 1.2rem;
    padding: 1.6rem 0;
  }
  .Logo span:first-child {
    margin-left: -2.4rem;
  }
  .Logo span:last-child {
    margin-right: -5.4rem;
    margin-top: -0.8rem;
  }
}
@media screen and (max-width: 750px) {
  .Logo {
    min-width: 6.8rem;
    font-size: 1rem;
    padding: 1.2rem 0;
  }
  .Logo span:first-child {
    margin-left: -2.4rem;
  }
  .Logo span:last-child {
    margin-right: -4.2rem;
  }
  nav {
    margin-bottom: 0rem;
  }
}
@media screen and (max-width: 599px) {
  .Logo {
    min-width: 4.6rem;
    font-size: 0.6rem;
    padding: 0.8rem 0;
  }
  .Logo span:first-child {
    margin-left: -1.4rem;
  }
  .Logo span:last-child {
    margin-right: -3.1rem;
    margin-top: -0.4rem;
  }
  nav .Link{
    margin-left: 0;
    margin-right: 0.2rem;
    font-size: 0.65rem;
    padding: 0.3rem;
  }
}
@media screen and (max-width: 400px) {
  nav .Link{
    font-size: 0.45rem;
  }
}
